.quote_card {
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
